
*.xlsx
*.csv
*.json
*.pdf
*.jpg


# Ambiente Virtual
venv/
.env
.vscode

# Dados Sensíveis (O mais importante!)
data/Controle.xlsx
data/*.json
data_lake/

# Python cache
__pycache__/
*.py[cod]

# Google keys
credentials.json
service.account.json

# Temp files
Statistic.session.sql

settings.json
.vscode/
