certifi==2023.7.22
cffi==2.0.0
charset-normalizer==3.3.0
cryptography==46.0.6
et-xmlfile==1.1.0
google-api-core==2.30.0
google-api-python-client==2.145.0
google-auth==2.49.1
google-auth-httplib2==0.3.0
googleapis-common-protos==1.73.1
httplib2==0.31.2
idna==3.4
numpy==2.4.3
oauthlib==3.2.2
openpyxl==3.1.5
pandas==3.0.1
proto-plus==1.27.2
protobuf==6.33.6
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pyparsing==3.3.2
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
requests==2.31.0
setuptools==68.2.2
six==1.16.0
tzdata==2023.3
uritemplate==4.2.0
urllib3==2.0.7
